<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljl.example.shardingJdbc.mapper.GoodsMapper">
  <resultMap id="BaseResultMap" type="com.ljl.example.shardingJdbc.model.Goods">
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_type" jdbcType="INTEGER" property="goodsType" />
  </resultMap>
</mapper>